if SHIELD_FIRST36KEYS_LEFT

config ZMK_KEYBOARD_NAME
    default "first36keys"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FIRST36KEYS_LEFT || SHIELD_FIRST36KEYS_RIGHT

config ZMK_SPLIT
    default y
    
endif